@font-face {
  font-display: swap;
  font-family: "Lora-Regular";
  font-weight: 400;
  src:
    url("/src/assets/fonts/Lora-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Lora-Regular.woff") format("woff"),
    url("/src/assets/fonts/Lora-Regular.ttf") format("ttf");
}

@font-face {
  font-display: swap;
  font-family: "Lora-Medium";
  font-weight: 500;
  src:
    url("/src/assets/fonts/Lora-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/Lora-Medium.woff") format("woff"),
    url("/src/assets/fonts/Lora-Medium.ttf") format("ttf");
}

@font-face {
  font-display: swap;
  font-family: "Lora-Bold";
  font-weight: 700;
  src:
    url("/src/assets/fonts/Lora-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/Lora-Bold.woff") format("woff"),
    url("/src/assets/fonts/Lora-Bold.ttf") format("ttf");
}

#root {
  text-align: center;
  height: 100vh;
  font-family: "Lora-Regular", serif;
}
